@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }

 .contenedorBody {
     display: grid;
     gap: 4px;
     background-color: white;
     grid-template-rows: 80px 8fr 4fr 8fr 1fr;
     grid-template-columns: 6fr 1fr;
     grid-template-areas:
         'header header  '
         'main  main  '
         'main  main  '
         'main  main  '
         'footer footer  '
     ;
    font-family: 'Source Sans Pro', sans-serif;
 }

 .contenedorArticle {
     display: grid;
     gap: 5px;
     grid-template-columns: 1fr;
     grid-template-rows: 70px 580px 1fr;
     grid-template-areas:
         'titulo'
         'img'
         'texto'
     ;
 }

 header {
     grid-area: header;
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 84px;
     background: #fff;
     box-shadow: 0 10px 20px -22px black;
     z-index: 2;
 }

 .margen {
     grid-area: marg;
     background-color: rgb(224, 224, 224);
     padding-left: 15px;
     padding-right: 15px;

 }

 .main {
     grid-area: main;
     max-width: 1000px;
     margin: 0 auto;
     padding-top: 25px;

 }



 footer {
    margin-top: 10%;
    grid-area: footer;
    background-color: #ffffff;
    color: #fff;
    height: 30px;
    display:flex;
    text-align: center;
    padding: 28px;
    justify-content: center;
    font-size: 16px;
    box-shadow: 3px -3px 15px rgba(0, 0, 0, 0.466);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    
  }

 /* tablet */
 @media screen and (max-width: 1000px) {
     .contenedorBody {
         grid-template-rows: 120px 1fr 3fr 80px;
         grid-template-columns: 1fr 1fr;
         grid-template-areas:
             'header header    '
             'main    main     '
             'main    main     '
             'footer footer    '
         ;
     }

     .main {
         grid-area: main;
         max-width: 800px;
         margin: 0 auto;
         padding: 5px;
         margin-right: 20px;
     }

     .margen {
         margin-bottom: 35px;
         text-align: center;
         padding-top: 80px;
     }


     /* footer {
        margin-top: 10%;
        grid-area: footer;
        background-color: #ffffff;
        color: #fff;
        height: 30px;
        display:flex;
        text-align: center;
        padding: 28px;
        justify-content: center;
        font-size: 16px;
        box-shadow: 3px -3px 15px rgba(0, 0, 0, 0.466);
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 2;
        
      } */
 }


 @media screen and (max-width: 590px) {
     .contenedorBody {
         grid-template-rows: 1fr 6fr 6fr 1fr 80px;
         grid-template-columns: 1fr 1fr;
         grid-template-areas:
             'header header '
             'main    main  '
             'main    main  '
             'main    main  '
             'footer footer '
         ;
     }

     .contenedorArticle {
         display: grid;
         gap: 5px;
         grid-template-columns: 1fr;
         grid-template-rows: 70px 30% 1fr;
         grid-template-areas:
             'titulo '
             ' img  '
             'texto'
         ;
     }

     footer {
        margin-top: 10%;
        grid-area: footer;
        background-color: #ffffff;
        color: #fff;
        height: 30px;
        display:flex;
        justify-content: space-around;
        text-align: center;
        padding: 20px;
        font-size: 16px;
        box-shadow: 3px -3px 15px rgba(0, 0, 0, 0.466);
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 2;
        
      }
 }

 h3>a {
     text-decoration: none;
     color: white;
 }

 h3>a:hover {
     color: white;
 }

 .hover3:hover {
     color: rgb(0, 0, 0);
 }

 .t2_a {
     text-decoration: none;
     color: black;
     font-weight: 600;
     transition: color 300ms;
 }

 .hover2:hover {
     color: #46a2fd;
 }


 .t1_a {
     color: rgb(255, 255, 255);
     text-decoration: none;
     font-weight: 600;
     transition: color 300ms;
 }

 .hover1:hover {
     color: rgb(168, 168, 168);
 }

 /* Estilos generales */
 body {
     font-family: Arial, sans-serif;
     margin: 0;
     padding: 0;
 }


 /* Estilos de los artículos */
 article {
     width: 100%;
     margin-bottom: 15px;
     border: 2px solid rgb(210, 210, 210);
     border-radius: 8px;
     padding: 10px;
     background-color: rgb(224, 224, 224);
 }

 article h2 {
     margin-top: 0;
 }
 .titulo {
     grid-area: titulo;
     text-align: center;
     margin-top: 25px;
     font-size: 30px;
 }

 .texto {
     grid-area: texto;
     font-size: 1.5em;
     padding: 5%;
 }

 .imagen {
     grid-area: img;
     width: 100%;
     padding: 50px;
     border-radius: 60px;
     min-width: 300px;

 }

 img {
     width: 100%;
     height: auto;
 }

 /* Estilos del pie de página */
 footer a {
     color: #777777;
     text-decoration: none;
     height: 100%;
     margin: 0px 20px;
     display: flex;
     justify-content: center;
     align-items: center;
     position: relative;
     transition: color 300ms;
 }

 footer a:hover {
     color: #46a2fd;
     ;
 }



 /* Estilos del encabezado
 header h1 {
     margin: 0;
 }

 .header-content {
     max-width: 1200px;
     margin: auto;
     display: flex;
     justify-content: space-between;
 }

 .logo {
     height: 80px;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .logo h1 b {
     color: #46a2fd;
 }
 .logo h1 {
    font-size: 40px;
}
 .menu {
     height: 80px;
 }

 .menu nav {
     height: 100%;
 }

 .menu nav ul {
     height: 100%;
     display: flex;
     list-style: none;
 }

 .menu nav ul li {
     height: 100%;
     margin: 0px 20px;
     display: flex;
     justify-content: center;
     align-items: center;
     position: relative;
 }

 .menu-selected:before {
     content: '';
     width: 100%;
     height: 4px;
     background: #46a2fd;
     position: absolute;
     top: 0;
     left: 0;
 }

 .menu nav ul li a {
     color: #777777;
     transition: color 300ms;
 }

 .menu nav ul li a:hover {
     color: #46a2fd;
 }

 .menu .text-menu-selected {
     color: #46a2fd;
 }

 header {
     transition: transform 0.5s ease-in-out;
 }

 header.hide {
     transform: translateY(-100%);
 } */
